*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height:100vh;
    background: linear-gradient(
    135deg,
    #667eea,
    #764ba2,
    #ff758c
    );
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

.container{
    width:100%;
    max-width:700px;
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    border-radius:25px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    color:white;
    margin-bottom:30px;
    font-size:42px;
}

/* Input Section */
.input-section{
    display:flex;
    gap:15px;
    margin-bottom:25px;
    flex-wrap:wrap;
}

#taskInput{
    flex:1;
    padding:16px;
    border:none;
    border-radius:12px;
    font-size:16px;
    outline:none;
}

.add-btn{
    background:#00e676;
    border:none;
    padding:16px 25px;
    border-radius:12px;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.add-btn:hover{
    transform:scale(1.05);
}

/* Search */
#searchTask{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    margin-bottom:25px;
    outline:none;
}

/* Filters */
.filters{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:30px;
    flex-wrap:wrap;
}

.filter-btn{
    border:none;
    padding:12px 18px;
    border-radius:10px;
    cursor:pointer;
    color:white;
    font-size:15px;
}

.all{
    background:#ff9800;
}

.completed{
    background:#4caf50;
}

.pending{
    background:#f44336;
}

/* Task List */
ul{
    list-style:none;
}

li{
    background:white;
    margin-bottom:18px;
    padding:18px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

li.completed span{
    text-decoration: line-through;
    color:gray;
}

.task-text{
    flex:1;
    font-size:18px;
}

.buttons{
    display:flex;
    gap:10px;
}

button{
    border:none;
    padding:10px 14px;
    border-radius:8px;
    cursor:pointer;
    color:white;
}

.complete-btn{
    background:#00c853;
}

.edit-btn{
    background:#2196f3;
}

.delete-btn{
    background:#f44336;
}

/* Footer */
footer{
    text-align:center;
    color:white;
    margin-top:35px;
    line-height:2;
}

/* Responsive */
@media(max-width:600px){

    .input-section{
        flex-direction:column;
    }

    li{
        flex-direction:column;
        align-items:flex-start;
    }

    .buttons{
        width:100%;
        justify-content:center;
    }

    h1{
        font-size:34px;
    }
}